.reservation-form-container {
    max-width: 400px;
    margin: 0 auto;
}

.reservation-form {
    display: flex;
    flex-direction: column;
}

.reservation-form .label-sp {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.reservation-form .special-label {
    margin-bottom: 10px;
}


.reservation-form label span {
    margin-bottom: 5px;
}

.reservation-form input,
.reservation-form select,
.reservation-form textarea {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-top: 4px;
}

.reservation-form button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.reservation-form button:hover {
    background-color: #0056b3;
}

.date-fields {
    display: flex;
    gap: 100px;
}

.parallel-fields {
    display: flex;
    gap: 100px;
}


.form-container {
    position: relative;
    /* Add other styles for the form container */
}

.total-amount-card {
    position: absolute;
    bottom: 800px;
    right: 50px;
    padding: 15px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.total-amount-label {
    display: block;
    margin-bottom: 5px;
    /* Add other styles for the total amount label */
}